<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    <title>Onde está a ISS</title>
  </head>
  <body>
    <h2>Onde está a ISS?</h2>
    <p>Coordenadas: {{ var1 }}, {{ var2 }} </p>
    <div id="map" class="map"></div>
    <script type="text/javascript">
        var layer = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: [
                    new ol.Feature({
                        geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ var1 }}, {{ var2 }}]))
                    })
                ]
            })
        });	


      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([{{ var1 }}, {{ var2 }}]),
          zoom: 4
        })
      });
    </script>
  </body>
</html>